/autoit-mediapipe-com/patches/001-mediapipe-src.patch
/autoit-mediapipe-*-com-v*.7z
/autoit-mediapipe-v*-src.zip
/autoit-opencv-*
/node_modules
/opencv/__build__
/opencv/build
/opencv/download
/opencv/install
/opencv/opencv
/opencv/opencv_contrib
/opencv-*
/*.sublime-workspace
BackUp
generated
*build_x64
/test/solutions/testdata
