/autoit-mediapipe-*-com-v*.7z
/autoit-mediapipe-com/patches/001-mediapipe-src.patch
/autoit-mediapipe-com/scripts/configure_bazel.js
/autoit-mediapipe-v*-src.zip
/autoit-opencv-*
/examples/data/*
/mediapipe-*-src.*
/node_modules
/opencv-*
/opencv/__build__
/opencv/build
/opencv/download
/opencv/install
/opencv/opencv
/opencv/opencv_contrib
/test/solutions/testdata/*
/*.sublime-workspace
BackUp
generated
*build_x64

!/examples/data/aisfaris-jr-8dukMg99Hd8-unsplash.jpg
!/examples/data/andingomfoti-m-oB1mqkdDiU0-unsplash.jpg
!/examples/data/andres-jasso-PqbL_mxmaUE-unsplash.jpg
!/examples/data/brooke-cagle-ezgW6z6oIvA-unsplash.jpg
!/examples/data/brooke-cagle-mt2fyrdXxzk-unsplash.jpg
!/examples/data/david-hofmann-e_rhazQLaSs-unsplash.jpg
!/examples/data/garrett-jackson-auTAb39ImXg-unsplash.jpg
!/examples/data/hanson-lu-XzL8YAWdirE-unsplash.jpg
!/examples/data/ilya-mirnyy-fU3EJRO_qGY-unsplash.jpg
!/examples/data/kira-auf-der-heide-QyCH5jwrD_A-unsplash.jpg
!/examples/data/radu-florin-JyVcAIUAcPM-unsplash.jpg
!/examples/data/s-o-c-i-a-l-c-u-t-7T8vSHYXq4U-unsplash.jpg
!/examples/data/thao-lee-v4zceVZ5HK8-unsplash.jpg
!/examples/data/tracey-hocking-_veZpXKU71c-unsplash.jpg
!/examples/data/vlad-ursache-WJ7gZ3cilBA-unsplash.jpg
!/test/solutions/testdata/test_on_video_fullasl_hand.full.yml
!/test/solutions/testdata/test_on_video_fullpose_squats.full.yml
