/autoit-mediapipe-com/patches/001-mediapipe-src.patch
/autoit-mediapipe-*-com-v*.7z
/autoit-mediapipe-v*-src.zip
/autoit-opencv-*
/node_modules
/opencv/__build__
/opencv/build
/opencv/download
/opencv/install
/opencv/opencv
/opencv/opencv_contrib
/opencv-*
/*.sublime-workspace
BackUp
generated
*build_x64
/test/solutions/testdata
/examples/data/brother-sister-girl-family-boy-977170.jpg
/examples/data/face_detection_short_range.tflite
/examples/data/gesture_recognizer.task
/examples/data/pointing_up.jpg
/examples/data/thumbs_down.jpg
/examples/data/thumbs_up.jpg
/examples/data/victory.jpg
/examples/data/hand_landmarker.task
/examples/data/woman_hands.jpg
/examples/data/burger.jpg
/examples/data/cat.jpg
/examples/data/efficientnet_lite0_fp32.tflite
/examples/data/burger_crop.jpg
/examples/data/mobilenet_v3_small_100_224_embedder.tflite
/examples/data/deeplabv3.tflite
/examples/data/segmentation_input_rotation0.jpg
