<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<configuration>  
	<windows>  
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">  
			<probing privatePath="autoit-opencv-com;autoit-mediapipe-com\build_x64\bin\Debug;..\autoit-opencv-com;..\autoit-mediapipe-com\build_x64\bin\Debug;..\..\autoit-opencv-com;..\..\autoit-mediapipe-com\build_x64\bin\Debug"/>
		</assemblyBinding>
	</windows>
</configuration>